<!-- css file: content_page_section.css.scss -->
<div class="medium-12 columns content_page_section">
  <!-- sub_content: about_us -->
  <div class="sub_content sub_content_aboutus">
    <div class="sub_inner_content sub_inner_content_service sub_inner_content_aboutus backgrd_shade_light"></div>
    <div class="sub_content_cover">
      <div class="sub_content_text text_info_content">
        <div class="header">about us</div>

        <div class="content_info">HENG ORIGEN is a Cost and Project Management Consultancy firm serving the construction industry across the United Kingdom, Europe, the USA and Africa.  We take pride in employing local people with very specific experience and expertise backed by our global support network. Our team has over 20 years of experience in the industry, maintaining a tradition of high quality service and uncompromising integrity.</div>

        <div class="content_info">Our innovative and proactive solutions help us deliver projects on time and within budget. HENG ORIGEN consultants have extensive, hands-on experience supporting a multitude of projects worldwide. Our diverse backgrounds allow us to offer our clients unique solutions tailor-made to their specific requirements and specific project challenges.</div>

        <div class="content_info">The HENG ORIGEN team has experience working on all types of construction projects, including but not limited to residential and commercial buildings, educational buildings, industrial buildings, sporting facilities and retail outlets. </div>


        <div class="content_info">Our team is proud of past performances and satisfied clients, and we continue to strive to provide the highest level of service, combining innovation and technical proficiency with positive attitude and hard work.</div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- sub_content -->
</div>