<!-- css file: content_page_section.css.scss -->
<div class="medium-12 columns content_page_section">
  <!-- sub_content: service -->
  <div class="sub_content sub_content_service">
    <div class="sub_inner_content sub_inner_content_service backgrd_shade_light"></div>
    <div class="sub_content_cover">
      <div class="sub_content_text text_info_content">
        <div class="header">services</div>
        <div class="content_info">Our consultants are qualified and mostly members of The Royal Institution of Chartered Surveyors (RICS), Chartered Institute of Building (CIOB), Association of Project Managers (APM), Association of South African Quantity Surveyors (ASQS) and PRINCE 2. We have assisted a wide range of clients on numerous projects throughout the world. From front end planning and project management to construction claims providing  proactive and cost-effective project support for decades in one or more of the following:</div>
        <div class="services">
          <div class="sub_header listed_service">CONSTRUCTION COST MANAGEMENT</div>
          <div class="service_text listed_service">HENG ORIGEN provides construction cost management services at pre-contract and post-contract stages to ensure accurate budgets and cash flow projections thereby empowering our clients to make informed decisions. </div>

          <div class="service_text listed_service">Our professionals have the construction cost estimating experience to provide you with the necessary project estimates at different design stages to help get your project off the ground. Our initial Order of Cost Estimates are detailed enough to set accurate cost expectations from the beginning of the project.</div>

          <div class="service_text listed_service">Whether you are an owner, occupier, master planner, program manager, contractor, architect or project and construction manager, we are equipped to add value to your project and all the design stages, producing conceptual budgets, preliminary estimates, quantity take-offs, bid estimates or contract pricing.</div>

          <div class="medium-4 columns listed_service">
            <div class="sevice_list_header">pre-contract services</div>
            <ul>
              <li>Feasibility studies </li>
              <li>Conceptual Project Budget</li>
              <li>BIM measurement</li>
              <li>Whole-life cost appraisals</li>
              <li>Cost planning </li>
              <li>Procurement advice and strategies</li>
              <li>Contractor vetting and selection</li>
              <li>Tender preparation and management</li>
              <li>Tender Evaluation </li>
              <li>Value management</li>
              <li>Risk management</li>
              <li>Contract documents</li>
              <li>Contractor appointment </li>
            </ul>
          </div>
          <div class="medium-4 columns listed_service">
            <div class="sevice_list_header">Post-contract services</div>
            <ul>
              <li>Post-contract cost management</li>
              <li>Change Order Evaluations</li>
              <li>Claims Evaluation</li>
              <li>Out-turn cost reporting</li>
              <li>Final account agreement</li>
              <li>Project Closeout</li>
            </ul>
          </div>

          <div class="medium-4 columns listed_service">
            <div class="sevice_list_header">Specialist services</div>
            <ul>
              <li>Contract Administration</li>
              <li>Employer’s Agent</li>
              <li>Fund / Bank monitoring</li>
              <li>Independent cost audits</li>
              <li>Dilapidation cost advice</li>
              <li>Reinstatement cost assessments</li>
              <li>Construction Bid Estimates</li>
            </ul>
          </div>

          <div class="clear"></div>

          <div class="sub_header listed_service">PROJECT & CONSTRUCTION MANAGEMENT</div>
          <div class="service_text listed_service">HENG ORIGEN provides Project Management and Construction Management services. Built from PRINCE2 and APM platforms, our programme management approach ensures rigour from inception to completion. Our attitude is to get our job done efficiently, effectively, and timely through our effective leadership and communication and the application of proven management techniques.</div>

          <div class="service_text listed_service">Construction projects invariably entail a degree of complexity and have specific challenges that require specialist management and the effective management of four key dynamics:</div>

          <div class="service_text listed_service">
            <ul>
              <li>People</li>
              <li>Costs</li>
              <li>Timescales</li>
              <li>Quality</li>
            </ul>
          </div>

          <div class="service_text listed_service">Our project managers are experienced in delivering programmes of works that comprise multiple projects or work streams. We provide bespoke reporting, assist clients with decision-making and allows for auditable change management throughout.</div>

          <div class="medium-6 columns listed_service">
            <div class="sevice_list_header">Program Management </div>
            <ul>
              <li>Consultants Selection</li>
              <li>Contract Risk Management</li>
              <li>Constructability Reviews</li>
              <li>Value Engineering</li>
              <li>Cost Management</li>
              <li>Construction Bid Evaluation</li>
              <li>Earned Value Management</li>
            </ul>
          </div>
          <div class="medium-6 columns listed_service">
            <div class="sevice_list_header">--</div>
            <ul>
              <li>Change Order Reviews</li>
              <li>Schedule Oversight</li>
              <li>Critical Path Method (CPM) Scheduling</li>
              <li>Total Float Management</li>
              <li>Quality Assurance & Control</li>
              <li>Dispute Avoidance and Claims Mitigation</li>
              <li>Performance & Productivity Assessments</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- sub_content -->
</div>
