<div class="medium-12 columns content_erropg_section">
  <div class="inner_section">
    <div class="content">
      <div class="inner_content">
        <div class="text">
          <div class="text_inner_cover">
            <div class="header">404</div>
            <div class="sub_header">page not found</div>
          </div>
        </div>
        <div><%= image_tag("img_404.png") %></div>
      </div>
    </div>
  </div>
</div>

