<!-- css file: content_page_section.css.scss -->
<div class="medium-12 columns content_page_section">
<!-- sub_content: contact us -->
  <div class="sub_content sub_content_contact ho_contact">
    <div class="sub_inner_content sub_inner_content_contact backgrd_shade_dark"></div>
    <div class="sub_content_cover">
      <div class="sub_content_text shade_content_dark contact_us_content">
        <div class="header">Get in touch</div>
        <div class="content_info">
          <div class="content_info">
            <div>Heng Origen</div>
            <div>Capital Office</div>
            <div>Kemp House</div>
            <div>London</div>
            <div>EC1V 2NX</div>
          </div>
        </div>
        <div>
          <div class="btn_contact"><%= mail_to "info@hengorigen.co.uk", 'info@hengorigen.co.uk', subject: "Client Enquiry", body: "Hi! How may we help?..." %></div>
          <div class="number">+44 (208) 000-5650</div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!-- sub_content -->
</div>
