<div class="clear"></div>
<div class="medium-12 columns footer_section">
  <div class="footer_inner_section">
    <div class="medium-6 columns footer_text">
      <span class="logo_img"><%= image_tag("img_logo_icon.png") %></span>
      <span class="copy_right">© Copyright 2019 Heng Origen</span>
      <span class="terms"><%= link_to "Privacy", privacy_and_cookies_path %></span>
    </div>
    <div class="medium-6 columns footer_text">
      <div class="designer"><%= link_to "Design Agency: ARTLoe Designs", "https://artloedesigns.herokuapp.com/", target:"_blank" %></div>
    </div>
  </div>
</div>