<!-- css file: modal_team_member -->
<div class="modal_main_team_member">
  <div id="myModal-team-member-second" class="reveal-modal team_member_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    
    <div class="medium-12 columns modal_team_member">
      <!-- sub_content: team-members -->
      <div class="sub_content sub_content_team">
        <div class="sub_inner_content sub_inner_content_team backgrd_shade_light"></div>
        <div class="sub_content_cover">
          <div class="sub_content_text shade_content_light">
            <div class="content_info">
              <div class="team_members">

                <!-- team_member -->
                <div class="medium-12 columns member_info_conetnt">
                  <div class="member_outter_cover">
                    <div class="member_inner_cover">
                    
                      <div><%= image_tag("img_team_member_02.png") %></div>
                      <div class="text_info">
                        <div class="title">Michael Sci</div>
                        <div class="role">Principal and President</div>
                        <div class="role">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>    

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- sub_content -->
    </div>
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>