/*===================================================
    Page: site pages
    File: views/shared/_content_leadershippg.html.erb
    File: views/shared/_content_contactpg.html.erb
    File: views/shared/_content_projectspg.html.erb
    File: views/shared/_content_servicepg.html.erb
  ===================================================*/

.content_page_section {
  padding: 0px !important
}

.content_page_section .img_banner {
  background-color: transparent;
  background: url(img_backgrd_02.jpg) no-repeat;
  height: 600px;
  width: 100%;
  background-size: cover;
  padding: 0px !important;
  position: fixed;
  z-index: -1;
}

.content_page_section .banner_section_inner {
  background-color: rgba(0, 0, 0, 0.2) !important;
  text-align: center;
  height: 600px;
  position: relative;
}

.content_page_section .main_inner_content {
  position: absolute;
  width: 100%;
  background: transparent;
  height: 300px;
  top: 160px;
}

.content_page_section .header_section .inner_layer {
  padding: 0px 15px;
}
@media only screen and (min-width: 1025px) {
  .content_page_section .header_section .inner_layer  {
    width: 1000px;
    margin: auto;
  }
}

.content_page_section .banner_content {
  font-size: 20px;
  position: relative;
  top: 100px;
  color: #fff;
}

.content_page_section .banner_header {
  font-size: 70px;
  text-shadow: 2px 2px 15px #2B2D48;
  text-transform: uppercase;
  line-height: 70px;
}

.content_page_section .banner_minor_header {
  font-size: 15px;
  text-shadow: 2px 2px 15px #2B2D48;
  text-transform: capitalize;
}

.content_page_section .content_main_section {
  height: 500px;
  z-index: 1000;
  margin-top: 600px;
  background-color: red;
  height: 100%;
}

@media only screen and (min-width: 1025px) {
  .content_page_section .sub_content_cover  {
    width: 1000px;
    margin: auto;
  }
}

.content_page_section .sub_content_text {
  position: absolute;
  margin: 40px 0px;
  padding: 0px 15px;
}
@media only screen and (min-width: 1025px) {
  .content_page_section .sub_content_text  {
    position: absolute;
    width: 1000px;
    margin: 40px 0px;
  }
}

@media only screen and (max-width: 1025px) {
  .content_page_section .contact_us_content  {
    position: absolute;
    width: 100%;
  }
} 



// ----------------------------------
//   section heights
// ----------------------------------
.content_page_section .sub_content_company {
  background-color: #2B2D48;
  background: url(img_backgrd_01.jpg) no-repeat; 
  height: 557px;
  background-size: cover;
  position: relative;
} 

.content_page_section .sub_inner_content_company {
  text-align: center;
  position: absolute;
  height: 557px;
  width: 100%;
}

.content_page_section .sub_content_team {
  background-color: #2B2D48;
  background: url(img_backgrd_01.jpg) no-repeat; 
  height: 557px;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .content_page_section .sub_content_team  {
    height: 1055px;
  }
}

.content_page_section .sub_inner_content_team {
  text-align: center;
  position: absolute;
  height: 557px;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .content_page_section .sub_inner_content_team  {
    height: 1055px;
  }
}

.content_page_section .sub_content_project {
  background-color: #2B2D48;
  background: url(img_backgrd_01.jpg) no-repeat; 
  height: 822px;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .content_page_section .sub_content_project  {
    height: 1900px;
    overflow: scroll;
  }
}

.content_page_section .sub_inner_content_project {
  text-align: center;
  position: absolute;
  height: 822px;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .content_page_section .sub_inner_content_project  {
    height: 1900px;
  }
}

.content_page_section .sub_content_service {
  background-color: #2B2D48;
  background: url(img_backgrd_01.jpg) no-repeat; 
  height: 603px;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .content_page_section .sub_content_service  {
    height: 1000px;
  }
}

.content_page_section .sub_inner_content_service {
  text-align: center;
  position: absolute;
  height: 603px;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .content_page_section .sub_inner_content_service  {
    height: 1000px;
  }
}

.content_page_section .sub_content_contact {
  background-color: #2B2D48;
  background: url(img_backgrd_01.jpg) no-repeat; 
  height: 383px;
  background-size: cover;
  position: relative;
}

.content_page_section .sub_inner_content_contact {
  text-align: center;
  position: absolute;
  height: 383px;
  width: 100%;
}


// ----------------------------------
//   dark shade
// ----------------------------------
.content_page_section .backgrd_shade_dark {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.content_page_section .shade_content_dark {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.content_page_section .shade_content_dark .header {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 300;
}

.content_page_section .shade_content_dark .content_info {
  font-size: 20px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 800px) {
  .content_page_section .shade_content_dark .content_info  {
    font-size: 14px;
  }
}


// ----------------------------------
//   light shade
// ----------------------------------
.content_page_section .backgrd_shade_light {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.content_page_section .shade_content_light {
  color: #2B2D48;
  text-align: center;
  font-weight: 400;
}

.content_page_section .shade_content_light .header {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 300;
}


// ----------------------------------
//   team members
// ----------------------------------
.content_page_section .member_info_conetnt {
  background-color: transparent;
  padding: 15px !important;
}

.content_page_section .member_info_conetnt .member_inner_cover a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 640px) {
  .content_page_section .member_info_conetnt .member_inner_cover img {
    height: 115px;
  }
}

.content_page_section .member_info_conetnt .member_outter_cover {
  background-color: #fff;
}

.content_page_section .member_info_conetnt .member_inner_cover {
  height: 372px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 640px) {
  .content_page_section .member_info_conetnt .member_inner_cover {
    height: 195px;
  }
}

.content_page_section .member_info_conetnt .member_inner_cover:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_page_section .member_info_conetnt .text_info {
  color: #2B2D48 !important;
  margin: 15px 5px;
}

.content_page_section .member_info_conetnt .text_info .title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
  font-weight: 300;
  text-transform: capitalize;
}

.content_page_section .member_info_conetnt .text_info .role {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 1px;
}


// ----------------------------------
//   projects
// ----------------------------------
.content_page_section .project_info_conetnt {
  padding: 0px !important;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .content_page_section .project_info_conetnt {
    width: 100%;
    position: relative;
  }
}
@media only screen and (max-width: 400px) {
  .content_page_section .project_info_conetnt {
    width: 100%;
    padding: 0px !important;
    position: relative;
  }
}

.content_page_section .project_info_conetnt a:hover {
  text-decoration: none !important;
}

.content_page_section .project_info_conetnt img {
  width: 100%;
}

.content_page_section .img_shade_cover {
  position: absolute;
}
@media only screen and (max-width: 640px) {
  .content_page_section .img_shade_cover {
    display: none;
  }
}

.content_page_section .img_text {
  bottom: 0;
  color: #fff !important;
  padding: 15px;
}
@media only screen and (max-width: 640px) {
  .content_page_section .img_text {
    margin-top: 13px;
    background-color: rgba(43, 45, 43, 0.8) !important;
  }
}
@media only screen and (min-width: 640px) {
  .content_page_section .img_text {
    position: absolute;
  }
}

.content_page_section .img_title {
  font-size: 21px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: left;
  line-height: 24px;
}

.content_page_section .img_text_info {
  text-align: left;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: bold;
}



// ----------------------------------
//   services
// ----------------------------------
.content_page_section .text_info_content .header {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 300;
  text-align: center;
}

.content_page_section .text_info_content .content_info {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .content_page_section .text_info_content .content_info  {
    font-size: 14px;
  }
}

.content_page_section .services ul li {
  font-size: 12px;
  margin-bottom: 7px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.content_page_section .sub_header {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 300;
}

.content_page_section .service_inner_content {
  width: 145px;
  background-color: transparent;
  margin-bottom: 25px !important;
  margin: auto;
}

.content_page_section .service_file {
  position: relative;
  text-transform: capitalize;
}

.content_page_section .service_file a {
  color: #DA9549 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_page_section .service_file a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_page_section .service_file i {
  font-size: 23px;
}

.content_page_section .file_text {
  font-size: 12px;
  position: absolute;
  margin-left: 8px;
  top: 4px;
}

.content_page_section .btn_contact a {
  color: #DA9549;
  font-weight: bold;
}

.content_page_section .btn_contact a:hover {
  color: #DA9549 !important;
}

.content_page_section .number {
  color: #fff !important;
}

.content_page_section .contact_sub_header {
  font-size: 13px;
  margin-bottom: 10px;
}











