/*===================================================
    Page: site pages
    File: views/shared/_modal_team_member_first.html.erb
    File: views/shared/_modal_team_member_second.html.erb
    File: views/shared/_modal_team_member_third.html.erb
    File: views/shared/_modal_team_member_fourth.html.erb
  ===================================================*/
  
.modal_team_member {
  padding: 0px !important
}

.modal_team_member .content_main_section {
  height: 500px;
  z-index: 1000;
  margin-top: 600px;
  background-color: red;
  height: 100%;
}

.modal_team_member .sub_content_team {
  background-color: #2B2D48;
  background: url(img_backgrd_01.jpg) no-repeat; 
  height: 570px;
  
  background-size: cover;
  position: relative;
}
@media only screen and (min-width: 900px) {
  .modal_team_member .sub_content_team  {
    height: 420px;
  }
}

.modal_team_member .sub_inner_content_team {
  text-align: center;
  position: absolute;
  height: 570px;
  width: 100%;
}
@media only screen and (min-width: 900px) {
  .modal_team_member .sub_inner_content_team  {
    height: 420px;
  }
}

.modal_team_member .backgrd_shade_light {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.modal_team_member .shade_content_light {
  color: #2B2D48;
  text-align: center;
  font-weight: 400;
}

.modal_team_member .member_info_conetnt {
  background-color: transparent;
  padding: 15px !important;
}

.modal_team_member .member_info_conetnt .member_inner_cover a:hover {
  text-decoration: none;
}

.modal_team_member .member_info_conetnt .member_inner_cover img {
  height: 200px;
}

.modal_team_member .member_info_conetnt .member_outter_cover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.modal_team_member .member_info_conetnt .text_info {
  color: #2B2D48 !important;
  margin: 15px 5px;
}

.modal_team_member .member_info_conetnt .text_info .title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
  font-weight: 300;
  text-transform: capitalize;
  font-weight: bold;
}

.modal_team_member .member_info_conetnt .text_info .role {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: bold;
}

.modal_team_member .member_info_conetnt .text_info .role p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding: 15px;
  text-align: left !important;
}


// ----------------------------------
//   no need for .modal_team_member
// ----------------------------------
.cancel_button {
  top: 28px !important;
  right: 38px !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cancel_button:hover {
  opacity: 0.7;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}






